body {  
  background-image: url("fondo.gif");
  
  background-repeat: no-repeat;
  background-size: cover;
}


 
#guess_form {
  width: 85400;
  height: 60510;
  text-align: center;
  margin-left: 20   px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;  
  
}



